/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}
.Header-sec{
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(255,255,255,0.75);
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 10;
}
.about-sec{
  background-color: white;
  width: 50%;
  padding: 4rem;
  margin: 3rem auto;
  text-align: center;
}
.skill{
  text-align: left;
  columns: 2;
  font-size: 1.25rem;
  margin: 2rem 3re;
  gap: 3rem,
}
li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}

.container .box:hover{
  transform: scale(1.1);
}
img.socialIcon {
  height: 30px;
  width: 30px;
}
/* Portfolio section */
.portfolio-section{
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}
.portfolio-img{
  max-width: 40%;
  align-self: center;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for a 2x2 grid */
  gap: 1rem;
  padding: 2rem;
  margin-top: 3rem;
}

.education-cell {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education-cell h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.education-cell p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.education-cell span {
  font-size: 0.9rem;
  color: #777;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Experience Section */


.experience-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0 2rem;
}
.experience-card:hover{
    transform: translateY(-10px);
}

.experience-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.experience-card p {
  margin: 0.25rem 0;
  color: #555;
}

.experience-card strong {
  color: #555;
}

@media (max-width:1024.98px){
  .portfolio-img{
    display: none;    
  }
  .container{
    grid-template-columns: 370px 370px;
  }
}

@media(max-width:768.98px){
  .container{
    grid-template-columns: 310px 310px;
  }
}
@media(max-width:665.98px){
  .container{
    grid-template-columns: 240px 240px;
  }
  .skill{
    columns: 1;
  }
}
@media(max-width:568.98px){
  .container{
    grid-template-columns: 1fr;
    margin: 0 30px;
  }
  .skill{
    columns: 1;
  }
  .education-grid{
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .Header-sec{
    gap: 1rem;
    padding: 1rem 0.5rem;
    font-size: 10px;
  }
  h1{
    font-size: 5rem;
  }
  .about-sec{
    width: 70%;
    padding: 2rem;
  }
}

@media(max-width:375.98px){
  h1 {
    margin-top: 2rem;
    font-size: 4rem;
  }
}

